<h1>Devolução de filme</h1>
<% remote_form_for :devolucao, :url => {:controller => :main, :action => :devolucao} do |f|%>
  <p>Cópia: <%= f.text_field :copia_id %></p>
  <p><%= f.submit "Devolver" %></p>
<% end %>
