<tr>
  <td><%= emprestimo.copia.id %></td>
  <td><%= emprestimo.copia.filme.titulo %></td>
  <td><%= emprestimo.data_emprestimo%></td>
  <td><%= emprestimo.data_devolucao ? emprestimo.data_devolucao :  '-'%></td>
</tr>