<h1><%=h @genero.descricao%></h1>

<h2>Filmes com este genero</h2>
<%= render :partial => 'filmes/list', :locals => {:filmes => @genero.filmes} %>

<%= link_to 'Editar', edit_genero_path(@genero) %> |
<%= link_to 'Voltar', generos_path %>